---
import { getCollection } from 'astro:content';
import Hero from '../../components/Hero.astro';
import Layout from '../../layouts/Layout.astro';
import { dateFormatter } from '../../lib/date-time-formatter';

export async function getStaticPaths() {
  return (await getCollection('blog')).map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout
  title={entry.data.title}
  description={entry.data.description}
  ogType="article"
  ogImage={entry.data.ogImage?.src}
>
  <Hero title={entry.data.title}>
    <time datetime={entry.data.pubDate.toISOString()}>
      {dateFormatter.format(entry.data.pubDate)}
    </time>
  </Hero>

  <main class="prose wrapper">
    <Content />
  </main>
</Layout>
