---
import { getCollection } from 'astro:content';
import Hero from '../../components/Hero.astro';
import Layout from '../../layouts/Layout.astro';
import { dateFormatter } from '../../lib/date-time-formatter';

const title = 'ブログ';
const description = 'sdenvに関するブログの一覧です。';

const entries = (await getCollection('blog')).toSorted(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout title={title} description={description}>
  <Hero title={title} />

  <main class="wrapper space-y-[--fluid(3rem,5rem)]">
    {
      entries.map((entry) => (
        <article>
          <header>
            <p class="text-sm">
              <time datetime={entry.data.pubDate.toISOString()}>
                {dateFormatter.format(entry.data.pubDate)}
              </time>
            </p>
            <h2 class="mt-3 text-xl font-bold [word-break:auto-phrase]">
              <a class="text-sky-700 underline" href={`/blog/${entry.slug}/`}>
                {entry.data.title}
              </a>
            </h2>
          </header>
          <p class="mt-4 leading-[1.7]">{entry.data.description}</p>
        </article>
      ))
    }
  </main>
</Layout>
