---
import { getCollection } from 'astro:content';
import Hero from '../../components/Hero.astro';
import Layout from '../../layouts/Layout.astro';

const title = 'お知らせ';
const description = '';

const newsEntries = (await getCollection('news')).toSorted(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout title={title} description={description}>
  <main class="wrapper">
    <Hero title={title} />

    <ol class="mt-6 list-disc space-y-1 ps-8">
      {
        newsEntries.map((entry) => (
          <li>
            <a
              class="text-sky-600 hover:text-sky-800 hover:underline"
              href={`/news/${entry.slug}/`}
            >
              {entry.data.title}
            </a>
          </li>
        ))
      }
    </ol>
  </main>
</Layout>
