---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import Hero from '../../components/Hero.astro';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const workEntries = await getCollection('work');
  return workEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry: entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout
  title={entry.data.title}
  description={entry.data.description}
  ogImage={entry.data.cover.src}
>
  <main>
    <article>
      <div class="wrapper">
        <Hero as="header" title={entry.data.title} />
      </div>
      <Image class="block h-96 w-full object-cover" src={entry.data.cover} alt="" />
      <div class="prose wrapper mt-12">
        <Content />
      </div>
    </article>
  </main>
</Layout>
